pem/*
!pem/ca
pem/ca/*
!pem/ca/ca_sample.crt
!pem/ca/ca_sample.key

!pem/server
pem/server/*
!pem/server/server_sample.crt
!pem/server/server_sample.key
!pem/server/server_sample.csr

!pem/win-client
pem/win-client/*
!pem/win-client/win-client_sample.crt
!pem/win-client/win-client_sample.key
!pem/win-client/win-client_sample.csr

!pem/mob-client
pem/mob-client/*
!pem/mob-client/mob-client_sample.crt
!pem/mob-client/mob-client_sample.key